@font-face {
  font-family: "Tinkof Sans";
  src: url("../../../public/fonts/TinkoffSans-Regular.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Tinkof Sans", sans-serif;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}