*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Light", sans-serif;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}