@use "../../../../../src/shared/styles/variables" as *;

.goal-add{
  .goal-add__container{
    position: relative;
    width: 25%;
    height: 25%;
    background-color: white;
    z-index: 20;
    border-radius:$border-radius;
    padding: $padding;
  }
}
