@use "../../../../../src/shared/styles/mixins" as *;



.goal-add{
  @include modalWindow();
  .goal-add__container{
    position: relative;
    width: 25%;
    height: 25%;
    background-color: white;
    z-index: 20;
  }
}
