$main-color: #FFFFFF;
$secondary-color: #F6F7F8;

$text-color-main: #181818;
$text-color-secondary: #777777;

$accent-color: #FFDD2D;
$accent-color-hover: #ffcd33;
$accent-color-pressed: #fab619;
$selected-color: #3383f6;

$border-radius: 5px