@use "../../shared/styles/variables" as variables;


.sign-in{
  display: flex;
  justify-content: space-between;
  background-color: variables.$secondary-color;
  padding: 30px;
  gap: 10rem;
  img {
    max-height: 50px;
  }
  .sign-in-window{
    margin: 13.5% 64px;
    background-color: variables.$main-color;
    text-align: center;
    padding: 60px;
    border-radius: variables.$border-radius;
    .sign-in-form{
      display: flex;
      justify-content: center;
      gap: 9px;
      @media screen and (max-width: 1050px) {
        flex-direction: column;
      }
    }
  }
}