@use "../../shared/styles/variables" as variables;

.sign-in {
  background-color: variables.$secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100hv;
  padding: 30px 30px 170px;
  gap: 10rem;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  img {
    max-height: 50px;
  }

}