@use "../../shared/styles/variables" as variables;


.hide {
  display: none;
  opacity: 0;
}

.sign-in {
  background-color: variables.$secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100hv;
  padding: 30px 30px 170px;
  gap: 10rem;
  .header{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  img {
    max-height: 50px;
  }


  .sign-in-window {
    background-color: variables.$main-color;
    text-align: center;
    padding: 60px;
    max-width: 600px;
    min-width: 400px;
    border-radius: variables.$border-radius;
    .sign-in-button{
      padding: 0 20px;
      img{
        width: 10px;
      }
    }
    @media screen and (max-width: 1050px) {
      padding: 20px;
      min-width: 500px;

    }
    @media screen and (max-width: 780px) {
      margin-left: 0;
      margin-right: 0;
    }
    @media screen and (max-width: 525px) {
      min-width: 100px;
    }

    .sign-in-form {
      display: flex;
      justify-content: center;
      gap: 9px;
      @media screen and (max-width: 1050px) {
        flex-direction: column;
      }

      .input-number {
        label {
          @media screen and (max-width: 800px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}