@use "../../../src/shared/styles/variables" as *;

.user-page {
  header, main {
    padding: 4rem;
    @media screen and (max-width: 880px) {
      padding: 2rem;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 880px) {
      justify-content: center;
      .exit{
        display: none;
      }
    }

  }

  main {
    display: flex;
    align-items: flex-start;
    gap: 200px;

    @media screen and (max-width: 1440px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    @media screen and (max-width: 880px) {
    }

    .user-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      @media screen and (max-width: 1440px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      img {
        background-color: rgb($selected-color, 0.2);
        border-radius: 50%;
        max-width: 75px;
        padding: 15px;
      }

      h3 {
        font-size: 2rem;
      }
    }

    .options {
      $brd: $border-radius+50px;
      $bg: #F2F4F7;
      display: flex;
      flex-direction: column;
      background: $bg;
      width: 80%;
      border-radius: $brd;

      .user-btn {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 50px 70px;
        background: transparent;
        border-radius: inherit;

        @media screen and (max-width: 880px) {
          justify-content: center;
          i{
            display: none;
          }
        }

        img {
          max-width: 250px;
          @media screen and (max-width: 880px) {
            max-width:  50px;
          }
        }
        i {
          color: darken($bg, 50%);
          font-size: 50px;

        }

        &:first-child {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:last-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        &:not(:last-child, :first-child) {
          border-radius: 0;
        }

        &:hover {
          background: darken($bg, 5%);
        }

        &:active {
          background: darken($bg, 20%);
        }

        .btn__content {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          @media screen and (max-width: 880px) {
            flex-direction: column;
          }
        }
      }
    }
  }
}