@use '../../../../../src/shared/styles/variables.scss' as *;

.hide{
  display: none;
}

.modal-open{
  overflow-y: hidden;
}

.goal-card {
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  min-width: 15rem;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: $padding;
  gap:10px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.95);
  }

  h3, h2 {
    margin: 0;
  }
  .priority{
    display:  flex;

    gap: 0.5rem;
  }
  .progress{
    $height-p: 1.1rem;
    user-select: none;
    position: relative;
    text-align: center;
    width: 95%;
    height: 1.1rem;
    border-radius: 10px;
    overflow: hidden;
    &::before{
      z-index: -1;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      display: block;
      width:  100%;
      height: $height-p;
      border-radius: 10px;
      background-color: #eae9e9;

    }
    &::after{
      z-index: -1;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      display: block;
      width:  var(--progress-width, 0%);
      height: $height-p;
      border-radius: 10px;
      background-color: #4FC5DF;

    }
  }

  .goal-card__container {
  }
}