@use "../../../src/shared/styles/variables" as *;

.plans-card {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 100px;
  max-height: 200px;
  padding: $padding;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  overflow: visible;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 1.6rem;
  min-width: 30rem;
}
.plans-card__container{
  width: 98%;
  p {
    font-weight: 500;
    margin: 0;
  }

  .progress-bar {
    margin-top: 10px;
    width: 100%;
    height: 12px;
    border-radius: 10px; 
    display: block;
  }
}

.blue {
  background-color: #4FC5DF;
}

.orange {
  background-color: #DF7F4F;
}