@use "../../../shared/styles/variables" as variables;

.hide {
  display: none;
  opacity: 0;
}



.sign-in-form {
  display: flex;
  justify-content: center;
  gap: 9px;
  @media screen and (max-width: 1050px) {
    flex-direction: column;
  }

  .input-number {
    label {
      @media screen and (max-width: 800px) {
        font-size: 15px;
      }
    }
  }
}